@import '@plasma-platform/tm-css/helpers.pcss';

.AuthHeader {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 60px;
  z-index: 1;

  &__logo {

    position: relative;


    &:before {
      content: '';
      height: calc(100% + 30px);
      left: -15px;
      position: absolute;
      top: -15px;
      width: calc(100% + 40px);
    }
  }

  &__img {
    height: 30px;
    width: 185px;
  }
}