@import '@plasma-platform/tm-css/helpers.pcss';

.Home {
  align-items: center;
  background: $color_dark_main;
  display: flex;
  justify-content: center;
  height: 60px;

  &__linkAuth {
    color: $color_white;
    padding: $gap_small $gap_middle;
  }
}