@import '@plasma-platform/tm-css/helpers.pcss';

.Gallery {
  text-align: center;

  &__link {
    padding: 30px;
    display: inline-block;
  }

  &__images {
    display: flex;
  }

  &__image {
    max-width: 300px;
  }
}