@import '@plasma-platform/tm-css/helpers.pcss';

.AuthPolicy {

  @mixin T 5;
  color: $color_grey_light;
  display: inline-block;
  height: $gap_large;
  padding-top: 30px;

  &__text {
    display: inline-block;
    vertical-align: middle;
  }

  &__link {

    @mixin T 5;
    color: $color_link_normal_light;
    font-weight: bold;
    margin: 0 4px;

    &:hover {
      color: $color_link_normal_hover_light;
    }
  }
}