@import '@plasma-platform/tm-css/helpers.pcss';

.AuthFooter {

  @mixin T 5;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 60px;

  &__emoji {
    margin-right: 3px;
  }
}